
/* header styling end */
#dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 2px 5px;
}
.dashboard-sidebar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}
.dash-menu{
    margin: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    cursor: pointer;
}
.dash-menu .fa:hover{
    color: blue;
}
.dashboard-flex{
    width: 80%;
    height: 100vh;
    margin: 20px 0;
    position: relative;
    border: 1px solid black;
}





