.content-area{
    width: 95%; 
    height: 100%;
    padding: 10px;
    box-shadow: 2px 0px 2px black;
    position: absolute;
    top: 0;
    left: 0;
}
.content-area h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}
.flex-3{
    padding: 10px;
    margin-left: 2px;
    width: 320px;
    height: 220px;
    box-shadow: 2px 1px 4px 0px black;
    margin-top: 6px 2px;
}
.flex-3 h4{
    font-size: 18px;
}
.flex-3 p{
    font-size: 16px;
}
