#footer-container{
    width: 100%;
    display: grid;
    margin: 2px;
    padding: 1px;
    background: green;
}
.footer-navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
    padding: 5px;
}
.footer-navbar ul li{
    list-style: none;
} 
.footer-navbar ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.footer-social-link{
    margin: auto;
}
.footer-social-link a{
    font-size: 23px;
    padding: 15px;
    color: white;
}
.insta:hover{
    color:#f734b3;
}
.github:hover{
    color:#000;
}
.fb:hover{
    color: #0000ff;;
}
.yt:hover{
    color:#ff0000;
}
.copyright{
    margin: 2px;
    text-align: center;
}
.copyright p{
    font-size: 18px;
    color: white;
}
#footer-container .name{
    font-size: 17px;
    margin: 5px;
    text-align: center;
    color: white;
}
  
