
/* home styling start */
#home-container{
    width: 100%;
    height: 600px;
    margin: auto;
}
.hero{
    background: yellow;
}
#home-container video{
    width: 100%;
    height: 720px;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
 }
.content-box{
    padding: 10px;
    height: 250px;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 51%;
    left: 20%;
    z-index: 50;
}
.content-box h1{
    font-size: 80px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 0px white;
}
.content-box p{
    font-size: 32px;
    color: blue;
    font-weight: 600;
}

/* home styling end */

