
/* about us styling start */

#about-container h2{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 15px;
    text-shadow: 4px 3px 5px black;
    text-transform: uppercase;
}
#about-container #img-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}
#about-container #img-content img{
    width: 35%;
    height: 600px;
    border-radius: 10px 5px 15px 10px;
}
.goal-content-box{
    width: 55%;
    height: 650px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px 1px black;
}
.goal-content-box .contents{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2px 20px;
}
.goal-content-box .contents .box{
    padding: auto;
 
}
.goal-content-box .contents .box h3{
    font-size: 22px;
    font-weight: 700;
}
.goal-content-box .contents .box p{
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 2;
}
/* about us styling end */

/* Our team styling start */
#our-team-container{
    height: 100%;
    padding: auto;
    margin: 40px auto; 
}
#our-team-container h2{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 15px;
    text-shadow: 4px 3px 5px black;
    text-transform: uppercase;
}
#our-team-container .cards-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;    
}
.cards-box .card{
    width: 21%;
    height: 330px;
    margin: 5px;
    padding: auto;
    text-align: center;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 10px 2px black;
    border-radius: 2px;
}
.cards-box .card img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 10px;
    padding: 2px;
}
.cards-box .card img:hover{
    transform: scale(1.1);
    transition: all 0.25s ease-in ;
    cursor: pointer;
}
.cards-box .card h4{
    font-size: 21px;
    font-weight: 700;
    color: black;
    margin: 3px;
}
.cards-box .card p{
    font-size: 16px;
    font-weight: 600;
    color:#555;
    margin: 5px;
}
.team-social{
    margin: 13px;
    padding: 3px;
}
.team-social a{
    font-size: 24px;
    text-align: center;
    color: black;
    margin-left: 20px;
    padding: 3px;
    cursor: pointer;
    border: .2px solid gray;
    border-radius: 40%;
    border: none;
}
.team-social .insta:hover{
    color: #fa1496;
}
.team-social .github:hover{
    color: black;
}

/* Our team styling end */
