
/* home styling start */

#home-container{
    width: 95%;
    height: 600px;
    margin: auto;
}
#home-container video{
    width: 100%;
    height: 550px;
    margin: auto;
    position: relative;
    border: none;
    outline: none;
}
.content-box{
    padding: 10px;
    height: 250px;
    text-align: center;
    line-height: 1;
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 100;
}
.content-box h1{
    font-size: 60px;
    font-weight: 800;
    color: green;
    text-shadow: 2px 2px 0px white;
}
.content-box p{
    font-size: 25px;
    color: white;
    font-weight: 600;
}


/* gallery styling start */



/* gallery styling end */

/* home styling end */


/* Testimonial styling start */

#testimonial-container{
    margin-top: 20px;
    padding: 5px;
    height: 100%;
}
#testimonials-container{
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    line-height: 2;
}
.testimonial-card-box{   
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.testimonial-card-box .card{
    width: 320px;
    height: 320px;
    border: 4px solid white;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    padding: 20px;
}
.testimonial-card-box .card p{
    font-size: 15px;
    line-height: 1.5;
}
.testimonial-card-box .card .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
} 

.testimonial-card-box .card  .cards img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    border: .5px solid gray;
}
.testimonial-card-box .card  .cards .name-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-card-box .card .cards  .name-rating span{
    font-size: 15px;
    font-weight: 600;
    color: purple;
}
.testimonial-card-box .card .cards  .name-rating{
    color: green;
}

/* Testimonial styling end */


/* frequently question styling start */
.frequently-container{
    width: 70%;
    margin: 30px auto;
}
.wrapper{
    margin-bottom: 25px;
    border-radius: 7px;
    padding: 15px 30px;
    box-shadow: 0 1px 5px rgba(0,0,50,0.5);

}
.toggle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    color: #111130;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}
.content{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    text-align: left;
}
/* frequently question styling end */


/* footer styling start */
#footer-container{
    background-color: rgba(35, 35, 35, 0.8);
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    height: 170px;
}
.footer-navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}
.footer-navbar ul li{
    list-style: none;
}
.footer-navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer-social-link a{
    font-size: 18px;
    padding: 30px;
    color: white;
}
.fa-instagram:hover{
    color:#f734b3;
}
.fa-github:hover{
    color:black;
}
.fa-facebook-f:hover{
    color:blue;
}
.fa-youtube:hover{
    color:red;
}
.copyright{
    padding: 10px;
    margin: 5px;
}
.copyright p{
    font-size: 17px;
}
.copyright p a{
    text-decoration: none;
    color: green;
}
#footer-container .name{
    font-size: 15px;
    margin: 5px;
}

/* footer styling end */

/* for responsive */
@media screen and  (max-width: 853px){
    *{
        margin-top: 20px;

    }
    #header-container{
        display: flex;
        align-items: center;
        height: 20px;

        .logo , .fa-bars {
            font-size: 60px;
            cursor: pointer;
        }
    }
    .header-navbar, .account{
        display: none;
    }
   .menu-account .btn{
        font-size: 30px;
        padding: 10px;
        text-align: center;
        font-weight: 800;
        width: 300px;
        height: 80px;
        color: white;
        border-radius: 10px;
        padding: 8px;
        box-shadow: 1px 1px 3px 1px green;
        background-color:rgb(0,0,0);
        cursor: pointer;
    }
    .menu{
        display: block;
    }
    #home-container{
        width: 95%;
        height: 600px;
        margin: auto;   
    }
    #home-container video{
        margin: auto;
        position: relative;
    }
    .content-box{
        position: absolute;
        top: 20%;
        left: 20%;
        text-align: center;
        margin: auto;
        line-height: 1.2;
    }
    .content-box h2{
        font-size: 55px;
        color: green;
        font-weight: 800;
    }
    .content-box p{
        font-size: 35px;
        font-weight: 600;
        color: white;
    }

    h3{
        font-size: 40px;
        font-weight: 600;
    }
    p{
    font-size: 30px;
    }
    #testimonial-container{
        height: 100%;
    }
    #testimonials-container{
        display: grid;
        align-items: center;
      flex-direction: column;
        gap: 25px;
    }
    .testimonial-card-box{   
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }
    .testimonial-card-box .card{
        width: 450px;
        height: 450px;
    }
    .testimonial-card-box .card p{
        font-size: 25px;
        line-height: 1.5;
    }
    .testimonial-card-box .card .cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    } 
    
    .testimonial-card-box .card  .cards img{
        width: 150px;
        height: 150px;
    }
    .testimonial-card-box .card  .cards .name-rating{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-card-box .card .cards  .name-rating span{
        font-size: 35px;
        font-weight: 600;
        color: purple;
    }
    .testimonial-card-box .card .cards  .name-rating{
        color: green;
        font-size: 30px;
    }
    .frequently-container{
        width: 90%;
        margin: 10px auto;
    }
    .toggle{
        width: 100%;
        font-size: 35px;
        font-weight: 700;
    }

    #footer-container{
        height: 100%;
        display: grid;
    }
    .footer-navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 20px;
    }
    .footer-navbar ul li{
        list-style: none;
    }
    .footer-navbar ul li a{
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
    .footer-social-link a{
        font-size: 35px;
        padding: 15px;
        color: white;
    }
    .fa-instagram:hover{
        color:#f734b3;
    }
    .copyright{
        padding: 10px;
        margin: 5px;
    }
    .copyright p{
        font-size: 30px;
    }
    .copyright p a{
        text-decoration: none;
        color: green;
    }
    #footer-container .name{
        font-size: 25px;
        margin: 5px;
    }
      
}
