#header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 100%;
    height: 70px;
}
#header-container .logo{
    color: green;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 1px 2px 3px green;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.header-navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar ul li{
    list-style-type: none;
    margin-left: 30px;
    padding: 5px;
}
.header-navbar ul li a{
    text-decoration: none;
    color: green;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.3s ease;
}
.header-navbar ul li a:hover{
    color: black;
    border-bottom: 2px solid black;
}
.account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.account button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-align: center;
    background: green;
    border-radius: 10px;
    border: none;
}
.account button:hover{
    background: blueviolet;
    color: white;
}


